#wantedDead
{
	text-align: center;
	margin-top: 50px;
	color: grey;
}
.black
{
	color: black;
}
#persos
{
	margin-top: 50px;
}
#menu2
{
	margin-top: 50px;
}
#boutonMost
{
	background-color: grey;
}
#boutonMenu1
{
	color: grey;
}
#boutonMenu2
{
	color: grey;
}
#getMyReward
{
	margin-top: 50px;
}
#h2BestHunters
{
	margin-top: 50px;
	margin-bottom: 50px;
}
th
{
	width: 50%;
}
#awesome
{
	margin-top: 10px;
}
#gollum
{
	margin-top: 10px;
}
#divJoin
{
	display: flex;
}
#boutonJoin
{
	justify-content: : center;
}
#form
{
	display: flex;
	flex-direction: column;
}
.marginForm
{
	margin-top: 10px;
}
#divJoin
{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;	
}
#message
{
	height: 10em;
}
#footer
{
	background-color: grey;
	margin-top: 50px;
	padding-top: 10px;
}
#footer a
{
	color: white;
}



.card-img-top
{
	opacity: 0.3;
}
.card-img-top:hover
{
	opacity: 1;
}
.card-img-top:hover ~ #position
{
	opacity: 1;
	top: 150px;
}
#position
{
	position: absolute;
	top:50px;
	left: 50px;
	opacity: 0.3;
}

#gandalf
{
	height: 140px;
	width: 140px;
	opacity: 0.5;
	position: absolute;
	left: 100px;
}
#divGandalf
{
	margin-bottom: 100px;
	margin-top: 50px;
}
#divGandalf p
{	
	background-color: white;
	position: relative;
	z-index: 1;
	border-radius: 5px;
	opacity: 0.8;
	top: 5px;
	left: 110px;
	width: 100px;
	text-align: center;
	padding: 5px 5px;
}
#divGandalf h3
{
	position: relative;
	left: 120px;
	font-size: 25px;
	color: white;
	z-index: 2;
}
#divGandalf span
{
	color: orange;	
}
#gandalf:hover
{
	opacity: 1;
	z-index: 2;
}
#gandalf:hover ~ h3
{
	top: 55px;
	font-size: 16px;
	left : 135px;
}